.container-center{
    background-color: white;
    width: 60%;
    padding: 0 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px #bdbbbb;
}
body{
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.content{
    width: 80%;
}
input[type=number],[type=text]  {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 5px;
    box-sizing: border-box;
  }

.header{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.card{
    
    width: 40%;
    border-color: #bdbbbb;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #bdbbbb;
    padding-bottom: 20px;
    border-width: 1px;
    border-style:groove;
}
hr{
    margin-bottom: 20px;
}

.btn{
    font-weight: bold;
    width: 20%;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s;
}

.blue{
    background-color: #3972ed;
}
.red{
    background-color: #e61d3f;
}

#btnB,#btnBR,#btnM,#btnMR{
    display: none;
}

.group-buttons{
    display: flex;
    flex-direction: row;
}



@media screen and (max-width:480px) {
    .container-center{
        width: auto;
    }
    .card{
        width: 90%;
        margin-bottom: 20px;
    }
    .group-buttons{
        width: 150%;
    }
}
@media screen and (min-width:480px) {
    .container-center{
        width: 80%;
    }
    .card{
        width: 70%;
        margin-bottom: 20px;
    }
    .group-buttons{
        width: 100%;
    }
}

@media screen and (max-width:720px) {
    .card{
        width: 90%;
    }
    .group-buttons{
        width: 150%;
    }
}

@media screen and (min-width:720px) {
    .card{
        width: 40%;
    }
    .group-buttons{
        width: 200%;
    }
}
